<div class="marquee-wrapper">
  <om-marquee>
      <div class="card" #OmMarqueeContent>
          <img src="../../../../assets/nodejs.svg" alt="" srcset="">
          <p>Node JS</p>
      </div>
      <div class="card" #OmMarqueeContent>
        <img src="../../../../assets/express.svg" alt="" srcset="">
        <p>Express JS</p>
      </div>
      <div class="card" #OmMarqueeContent>
        <img src="../../../../assets/swagger.svg" alt="" srcset="">
        <p>Swagger UI</p>
      </div>
      <div class="card" #OmMarqueeContent>
        <img src="../../../../assets/sequelize.svg" alt="" srcset="">
        <p>Sequelize ORM</p>
      </div>
  </om-marquee>
</div>
