<div class="container p-5">
  <div class="toolbar p-1 flex gap-1 items-center">
    <div class="">Node +</div>
    <div>Link +</div>
    <div class="border p-1 rounded-md" (click)="addUser()">Add user table</div>
    <div class="ml-auto flex gap-1">
        <div (click)="zoomOut(canvas)">zoom -</div>
        <div (click)="zoomIn(canvas)">zoom +</div>
        <div (click)="canvas.zoomToFit()">reset</div>
    </div>
  </div>
  <div class="border rounded-md">
    <ngx-graph
    #canvas
      class="chart-container"
      [view]="[800, 500]"
      [showMiniMap]="true"
      [links]="links"
      [nodes]="nodes"
      [autoZoom]=true
    >
    <ng-template #nodeTemplate let-node>
        <div>{{node.label}}</div>
        <svg:g class="node">
      <svg:rect
        [attr.width]="node.dimension.width"
        [attr.height]="node.dimension.height"
        [attr.fill]="node.data.color"
      />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
        {{node.label}}
      </svg:text>
    </svg:g>
    </ng-template>
    
    </ngx-graph>
  </div>
</div>
