<div class="container p-5">
  <ng-container *ngIf="!isProjectSetup">
    <h1 class="text-4xl font-bold">Project Setup Page</h1>
    <form
      class="p-4 flex flex-wrap gap-4 justify-center items-center"
      #projectForm="ngForm"
    >
      <div class="form-field">
        <label for="project_name">Name : </label>
        <input
          type="text"
          name="project_name"
          title="project_name"
          placeholder="Enter project name"
          class="form-control"
          ngModel
          required
        />
      </div>
      <div class="form-field">
        <label for="project_description">Description (optional) : </label>
        <input
          type="text"
          name="project_description"
          title="project_description"
          placeholder="Enter your project description"
          class="form-control"
          ngModel
          required
        />
      </div>
      <div class="form-field">
        <label for="orm">Select ORM: </label>
        <select name="orm" title="orm" class="form-control" ngModel>
          <option value="sequelize">sequelize</option>
          <option value="prisma">prisma</option>
        </select>
      </div>
      <div class="form-field">
        <label for="database">Select Database: </label>
        <select name="database" title="database" class="form-control" ngModel>
          <option value="mysql">mysql</option>
          <option value="postgres">postgresql</option>
        </select>
      </div>
      <button
        class="p-2 rounded-md bg-red-400 hover:bg-red-600 text-white"
        (click)="projectForm.reset()"
      >
        Clear
      </button>
      <button
        class="p-2 rounded-md bg-blue-400 hover:bg-blue-600 text-white"
        [disabled]="projectForm.invalid"
        (click)="saveProjectDetails(projectForm)"
      >
        Save
      </button>
    </form>
  </ng-container>
  <ng-container *ngIf="isProjectSetup">
    <h1 class="text-4xl font-bold">Schema Setup Page</h1>
    <h3 class="my-3">You can choose from below templates</h3>
    <div class="template-container flex gap-4">
      <div *ngFor="let item of sampleData | keyvalue" class="p-2 border rounded-lg cursor-pointer hover:border-blue-400">
        {{ item.key }}
      </div>
    </div>
    <button class="p-4 bg-blue-600 rounded-md text-white my-3">
      Add table
    </button>
    <form
      class="p-4 flex flex-wrap gap-4 justify-center items-center"
      #schemaForm="ngForm"
    >
      <div class="container flex gap-4">
        <div class="form-field">
          <label for="table_name">Table Name : </label>
          <input
            type="text"
            name="table_name"
            title="table_name"
            placeholder="Enter table name"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="form-field">
          <label for="table_description">Description (optional) : </label>
          <input
            type="text"
            name="table_description"
            title="table_description"
            placeholder="Enter your project description"
            class="form-control"
            ngModel
            required
          />
        </div>
        <button class="p-4 bg-blue-600 text-white rounded-md">Add field</button>
      </div>
      <div class="form-field">
        <label for="attribute_name">Name : </label>
        <input
          type="text"
          name="attribute_name"
          title="attribute_name"
          placeholder="Enter attribute name"
          class="form-control"
          ngModel
          required
        />
      </div>

      <div class="form-field">
        <label for="orm">Type: </label>
        <select name="orm" title="orm" class="form-control" ngModel>
          <option value="sequelize">sequelize</option>
          <option value="prisma">prisma</option>
        </select>
      </div>
      <div class="form-field">
        <label for="orm">Type: </label>
        <select name="orm" title="orm" class="form-control" ngModel>
          <option value="sequelize">sequelize</option>
          <option value="prisma">prisma</option>
        </select>
      </div>
      <div class="form-field">
        <label for="database">Select Database: </label>
        <select name="database" title="database" class="form-control" ngModel>
          <option value="mysql">mysql</option>
          <option value="postgres">postgresql</option>
        </select>
      </div>
      <button
        class="p-2 rounded-md bg-red-400 hover:bg-red-600 text-white"
        type="reset"
      >
        Clear
      </button>
      <button
        class="p-2 rounded-md bg-blue-400 hover:bg-blue-600 text-white"
        [disabled]="schemaForm.invalid"
        (click)="addTable(schemaForm)"
      >
        Save
      </button>
    </form>
  </ng-container>
</div>
