/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/material-ocean';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;}

input,select {
    border: 1px solid #7e7e7e90;
    padding: .5rem;
    border-radius: 8px;
}

input[type="checkbox"] {
    padding: 1rem;
    width: 15px;
    height: 15px;
}