  <ng-container *ngIf="showSchemaForm">
    <h1 class="text-4xl font-medium">Schema Setup</h1>
    <h3 class="my-3">You can choose from following templates</h3>
    <div class="template-container flex gap-4">
      <div
        *ngFor="let item of sampleData | keyvalue"
        class="p-2 border rounded-lg cursor-pointer hover:border-blue-400"
      >
        {{ item.key }}
      </div>
    </div>
    <button
      class="p-3 bg-blue-600 rounded-md text-white my-3"
      (click)="addTable()"
    >
      Add table
    </button>
    <form
      class="p-4 flex flex-wrap gap-4 items-center"
      #schemaForm="ngForm"
      *ngFor="let item of tables; let i = index"
    >
      <div class="container flex gap-4">
        <div class="form-field">
          <label for="table_name">Table Name : </label>
          <input
            type="text"
            name="table_name"
            title="table_name"
            placeholder="Enter table name"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="form-field">
          <label for="table_description">Description (optional) : </label>
          <input
            type="text"
            name="table_description"
            title="table_description"
            placeholder="Enter table description"
            class="form-control"
            ngModel
            required
          />
        </div>
        <button
          class="p-2 bg-red-600 text-white rounded-md"
          (click)="removeTable(i)"
        >
          remove table
        </button>
        <button
          class="p-2 bg-blue-600 text-white rounded-md"
          (click)="addField(i)"
        >
          Add field
        </button>
      </div>
      <ng-container *ngFor="let item of item.fields">
        <div class="form-field">
          <label for="attribute_name">Name : </label>
          <input
            type="text"
            name="attribute_name"
            title="attribute_name"
            placeholder="Enter attribute name"
            class="form-control"
            ngModel
            required
          />
        </div>

        <div class="form-field">
          <label for="type">Type: </label>
          <select name="type" title="type" class="form-control" ngModel>
            <option value="sequelize">sequelize</option>
            <option value="prisma">prisma</option>
          </select>
        </div>
        <div class="form-field">
          <label for="primarykey">is primary key: </label>
          <input type="checkbox" name="primarykey" id="primarykey" />
        </div>
        <div class="form-field">
          <label for="unique">is unique: </label>
          <input type="checkbox" name="unique" id="unique" />
        </div>
        <div class="form-field">
          <label for="null">is null: </label>
          <input type="checkbox" name="null" id="null" />
        </div>
        <div class="form-field">
          <label for="autoincrement">is autoincrement: </label>
          <input type="checkbox" name="autoincrement" id="autoincrement" />
        </div>
        <div class="form-field">
          <label for="foreignkey">is foreign key: </label>
          <input type="checkbox" name="foreignkey" id="foreignkey" />
        </div>
        <div class="form-field">
          <label for="reftable">ref table: </label>
          <select name="reftable" title="reftable" class="form-control" ngModel>
            <option value="mysql">mysql</option>
            <option value="postgres">postgresql</option>
          </select>
        </div>
        <div class="form-field">
          <label for="refcolumn">ref column: </label>
          <select
            name="refcolumn"
            title="refcolumn"
            class="form-control"
            ngModel
          >
            <option value="mysql">mysql</option>
            <option value="postgres">postgresql</option>
          </select>
        </div>
        <div class="form-field">
          <label for="reftype">relation type: </label>
          <select name="reftype" title="reftype" class="form-control" ngModel>
            <option value="one-to-one">one-to-one</option>
            <option value="one-to-many">one-to-many</option>
            <option value="many-to-one">many-to-one</option>
          </select>
        </div>
        <button
          class="p-2 rounded-md bg-red-400 hover:bg-red-600 text-white"
          type="reset"
        >
          remove field
        </button>
        <button
          class="p-2 rounded-md bg-blue-400 hover:bg-blue-600 text-white"
          [disabled]="schemaForm.invalid"
        >
          add field
        </button>
      </ng-container>
    </form>
  </ng-container>

